extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Ryan Agatep

        p IT Professional
        p Full Stack JavaScript Developer (In Training)
        p Life-long Learner


        .about-bio

          p I am bad at elevator pitches, but I have a knack for problem-solving and like seeing the order in things. I enjoy puzzles and strategy, and I stay intrinsically motivated. I’ve been working in IT for many years troubleshooting, administrating, and maintaining systems ... it’s time to build!


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li (707) 8675-309
          li ryan@email.com

        a.btn-link(href='https://github.com/ragatep', target='_blank') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back