extends layout.pug

block content

  article.portfolio-intro

    h1 Hello Internet!

    p Below are projects that showcase what I have learned as a Full Stack JavaScript Developer student at Treehouse.

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          a(href=`/project/${project.id}`, target='_blank')
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`${project.project_name}`)
            h5= `${project.project_name}`

